@page "/config-editor-applications"
@using CrudUi.Pages.Features.Config.Services
@using CrudUi.Pages.Features.Config.Models
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications

@inject IApplicationService ApplicationService
@inject IToastService ToastService

<SfGrid ID="Grid" DataSource=@_applications TValue="Application"
        @ref="DefaultGrid"
        AllowPaging="true" AllowSelection="true" AllowFiltering="true" AllowSorting="true" AllowExcelExport="true"
        AllowResizing="true" AllowReordering="true" Height="615">

    <GridEvents RowUpdated="RowUpdatedHandler"
                RowCreated="RowCreatedHandler"
                RowDeleted="RowDeletedHandler"
                RowSelected="RowSelectHandler"
                TValue="Application">
    </GridEvents>

    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
    <GridPageSettings PageSize="20"></GridPageSettings>

    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Input">
                <Template>
                    <div class="image">

                        <FluentButton OnClick="AddButton">
                            <FluentIcon Value="@(new Icons.Regular.Size20.Add())" Color="Color.Neutral" Slot="start" />
                            Add
                        </FluentButton>
                        <FluentButton OnClick="EditButton" Disabled=@EditDisabled>
                            <FluentIcon Value="@(new Icons.Regular.Size20.Edit())" Color="Color.Neutral" Slot="start" />
                            Edit
                        </FluentButton>
                        <FluentButton OnClick="DeleteButton" Disabled=@DeleteDisabled>
                            <FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Color="Color.Neutral" Slot="start" />
                            Delete
                        </FluentButton>
                        <FluentButton OnClick="RefreshButton">
                            <FluentIcon Value="@(new Icons.Regular.Size20.ArrowClockwise())" Color="Color.Neutral" Slot="start" />
                            Refresh
                        </FluentButton>
                    </div>
                </Template>
            </ToolbarItem>
        </ToolbarItems>
    </SfToolbar>

    <GridColumns>
        <GridColumn HeaderText="" Width="30" TextAlign="TextAlign.Left">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-save", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-cancel-icon", CssClass="e-flat" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>

        <GridColumn Field="Name" HeaderText="Application" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field="Description" HeaderText="Description" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field="IsActive" HeaderText="Active" TextAlign="TextAlign.Left" Width="100"></GridColumn>


    </GridColumns>
</SfGrid>

